apiVersion: apps/v1
kind: Deployment
metadata:
  name: litellm
  namespace: lite
spec:
  replicas: 1
  selector:
    matchLabels:
      app: litellm
  template:
    metadata:
      labels:
        app: litellm
    spec:
      containers:
      - name: litellm
        image: ghcr.io/berriai/litellm:main-stable
        ports:
        - containerPort: 4000
        env:
        - name: LITELLM_MASTER_KEY
          value: "sk-admin"
